.main {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #5A1929;
align-items: center;
justify-content: center;
  
}

.containerHeader{
  min-height: calc(100vh - 5rem ) ;
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  align-items: center;
justify-content: center;

  
}

.img{
padding-top: 2rem;
border-radius: 8px;
align-items: center;
justify-content: center;}

.ctaText{
 
  text-align: center; 
}
.title{ font-size: 3.5rem;
line-height: 4.5rem;
font-weight: 900;
color: white;

}

.slogan{
  font-size: 1.5rem;
  line-height: 4.5rem;
  font-weight: 900;
  color: white;
}

.buttonGroup {
  display: flex; 
  justify-content: center; 
  align-items: center; 
 
}
.buttonContainer{
  flex-direction: column; 
  display: flex;
  justify-content: center;
  align-items: center; 
  
}
.buttons{width: 350px;
  height: 350px;
  text-align: center;
  border-radius: 30px;
  margin: 0 20px; 
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.iconButton{
  margin-bottom: 40px;
 display: block;
  align-items: center;
  
}

.titleButton{
font-weight: bold;
  font-size: 2rem;
  display: block; 

}

.subtitleButton{
  font-size: 1.2rem;
  display: block; 
}





.subtitle{
  margin-top: 0 auto;
  font-size: 1rem;
  line-height: 2.25rem;
  color: white;
}

.containerTwo{
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.title2{ font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 900;
  margin-top: 2.5rem;
  color: #5A1929;

  
  }


.lista {
  margin: 0 auto;
  list-style-type: none; 
  text-align: center; 
  padding-left: 0; 
}


.item {
  margin-bottom: 10px; 
}
 

.item:before {
  content: "\2022"; 
  
  left: 0;
}

/* Estilizando o subtítulo (h3) */
.subtitulo {
  font-style: italic; /* Defina a fonte em itálico ou ajuste conforme desejado */
}

/* Estilizando o último parágrafo (p) */
.paragrafo2{
  font-weight: bold; /* Defina a fonte em negrito ou ajuste conforme desejado */
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 
}

/* Mobile */
@media (max-width: 700px) {


}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 
}
