.iconCursos{
    
    color: #2979ff;
    background-color:white;
    font-size: 70px;
    border-radius: 50%;
   
}

.iconBlog{
    
    color: #FF7B43;
    background-color:white;
    font-size: 70px;
    border-radius: 50%;
   
}

.iconContact{

    color: #ff4343;
    background-color:white;
    font-size: 70px;
    border-radius: 50%;
}